.copyright { 
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: flex-start;
	font-size: 10px;
	color: white;
	box-sizing: border-box;
	padding-left: 20px;
	align-items: flex-end;
	padding-bottom: 20px;
	background-color: #202020;
}
.copyright__text {
	opacity: 0.5;
}