.header {
	text-transform: uppercase;
	font-family: Georgia,Myriad-Roman,AdobeInvisFont;
	width: 961px;
	height: 58px;
	margin: 30px 20px 30px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__header {
	font-weight: 400;
	font-size: 36px;
	align-self: flex-end;
}
.header__navbar-container {
	width: 519px;
	border-bottom: 3px solid #EBEBEB;
	display: flex;
	list-style-type: none;
}
.header__navbar-link {
	font-size: 12px;
	margin-left: 10px;
	color: #333333;
}
.header__navbar-link:hover {
	text-decoration: underline;
	text-decoration-color: #55415F;
	text-decoration-thickness: 3px;
}
